<!DOCTYPE html>
<html lang="en">
  <head>
    <title>WEB1 - <%=title%></title>
    <meta charset="UTF-8">
  </head>
  <body>
    <h1><a href="/">WEB</a></h1>
    <h3><%=name%>에 의해 작성되었습니다.</h3>
    <ol type="1">
      <!-- 링크를 클릭하는 사람은 사용자 --> 
      <!-- 클릭은 브라우저에서 클라이언트가 하는 행위 -->
      <!-- 클릭한 것에 대한 요청은 main.js 파일이 받음 -->
      <!-- Control 프로그램은 서버에서만 작동 -->

      <li><a href="/HTML">HTML</a></li>
      <li><a href="/CSS">CSS</a></li>
      <li><a href="/JavaScript">JavaScript</a></li>
    </ol>
    <h2><%=title%></h2>
    <p>Test</p>
  </body>
</html>