<!-- 이름 : 이동원 -->
<!-- 학번 : 202136006 -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>웹DB프로그래밍 4주 과제</title>
</head>
<body>
  <h1><a href="/">WEB DB 과제 4</a></h1>
  <h2>학번 : <%= number %></h2>
  <h2>이름 : <%= name %></h2>
  <h2>## <%= header %></h2>
  <ol type="1">
    <li><a href="/TOPIC">TOPIC 테이블</a></li>
    <li><a href="/AUTHOR">AUTHOR 테이블</a></li>
  </ol>
</body>
</html>